<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TravelMate - Error</title>
    <style>
         .cancel
        {
            background: #667892;
            color: #fff;
            float: right;
        }
    </style>
</head>
<body>
    <form action="/redirect" method="GET">
    <h1>Error</h1>
    <p><%= message %></p>
    <button type="submit" class="cancel">Back</button>
    </form>

        
</body>
</html>
